mixin causes()
	+b.SECTION.causes
		+e.wrap
			+headline('Для кого мы?')
			+e.list
				+e.card
					+e.card-banner
						img(src="img/causes__banner-1.png")
					+e.card-inner
						+e.card-title Если вашего ребенка не взяли в спортшколу
						+e.P.card-descr Мы подготовим его к следующему просмотру в любимом футбольном клубе и поможем с прохождением отбора. Занимаясь в нашей академии,каждый ребенок имеет возможность принять участие в первенстве Москвы по футболу

