mixin causes()
	+b.SECTION.causes
		+e.wrap
			+headline('Для кого мы?')
			+e.list
				+e.card
					+e.card-banner
						img(src="img/causes__banner-1.png")
					+e.card-inner
						+e.card-title Если вашего ребенка не взяли в спортшколу
						+e.P.card-descr Мы подготовим его к следующему просмотру в любимом футбольном клубе и поможем с прохождением отбора. Занимаясь в нашей академии,каждый ребенок имеет возможность принять участие в первенстве Москвы по футболу
				+e.card
					+e.card-banner
						img(src="img/causes__banner-2.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ребенок комфортно чувствовал себя в коллективе 
						+e.P.card-descr Командная игра лучше других развивает личностные качества ребенка и проявляет лидерские качества
				+e.card
					+e.card-banner
						img(src="img/causes__banner-3.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ваш ребенок проводил досуг с пользой
						+e.P.card-descr Бесплатные мастер-классы от звезд футбола для наших учеников, открытые уроки, совместные выезды. Все это сделает досуг вашего ребенка не просто полезным, но и безумно интересным
				+e.card
					+e.card-banner
						img(src="img/causes__banner-4.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ваш ребенок учился с удовольствием
						+e.P.card-descr Мы проводим учебно-тренировочные сборы как в Москве и МО, так и в Европе, где ваш ребенок в игровой формесможет изучать английский язык
				+e.card
					+e.card-banner
						img(src="img/causes__banner-5.png")
					+e.card-inner
						+e.card-title Семейный отдых
						+e.P.card-descr Благодаря собственным универсальным комплексам, мы можем предложить специальные условия на занятия фитнесом для родителей. Пока ваш ребенок  тренируется,вы тоже можете поддерживать спортивную форму.
				+e.card
					+e.card-banner
						img(src="img/causes__banner-6.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ваш ребенок попал на стажировку в европейские клубы
						+e.P.card-descr Мы очень тесно сотрудничаем с Итальянским футболом и с большим удовольствием предоставим возможность вашему ребенку провести незабываемое время на стажировке в европейском клубе
			+e.slider
				+e.card
					+e.card-banner
						img(src="img/causes__banner-1.png")
					+e.card-inner
						+e.card-title Если вашего ребенка не взяли в спортшколу
						+e.P.card-descr Мы подготовим его к следующему просмотру в любимом футбольном клубе и поможем с прохождением отбора. Занимаясь в нашей академии,каждый ребенок имеет возможность принять участие в первенстве Москвы по футболу
				+e.card
					+e.card-banner
						img(src="img/causes__banner-2.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ребенок комфортно чувствовал себя в коллективе 
						+e.P.card-descr Командная игра лучше других развивает личностные качества ребенка и проявляет лидерские качества
				+e.card
					+e.card-banner
						img(src="img/causes__banner-3.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ваш ребенок проводил досуг с пользой
						+e.P.card-descr Бесплатные мастер-классы от звезд футбола для наших учеников, открытые уроки, совместные выезды. Все это сделает досуг вашего ребенка не просто полезным, но и безумно интересным
				+e.card
					+e.card-banner
						img(src="img/causes__banner-4.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ваш ребенок учился с удовольствием
						+e.P.card-descr Мы проводим учебно-тренировочные сборы как в Москве и МО, так и в Европе, где ваш ребенок в игровой формесможет изучать английский язык
				+e.card
					+e.card-banner
						img(src="img/causes__banner-5.png")
					+e.card-inner
						+e.card-title Семейный отдых
						+e.P.card-descr Благодаря собственным универсальным комплексам, мы можем предложить специальные условия на занятия фитнесом для родителей. Пока ваш ребенок  тренируется,вы тоже можете поддерживать спортивную форму.
				+e.card
					+e.card-banner
						img(src="img/causes__banner-6.png")
					+e.card-inner
						+e.card-title Если вы хотите, чтобы ваш ребенок попал на стажировку в европейские клубы
						+e.P.card-descr Мы очень тесно сотрудничаем с Итальянским футболом и с большим удовольствием предоставим возможность вашему ребенку провести незабываемое время на стажировке в европейском клубе

