.headline {
	text-align: center;

	&__title {
		font: 400 3rem/3rem @font-main;
		color: #000;
		text-transform: uppercase;
	}

	&__descr {
		margin-top: 20px;
		font: 400 2.5rem/2.5rem @font-main;
		text-transform: uppercase;
		color: #000;
	}

	@media screen and (max-width: 768px) {

		&__title {
			font-size: 2rem;
			line-height: 2rem;
		}
	}
}