mixin news()
	+b.SECTION.news
		+e.wrap

			+b.headline
				+e.title Наши новости

			+e.slider


				+e.slide
					+e.slide-inner
						+e.IMG.slide-img(src="img/news__img-1.png")
						+e.slide-info
							+e.slide-title Дорогие друзья! 
							+e.slide-text
								p Я с удовольствием приглашаю вас на занятия в Школу Футбольного Мастерства «Академия Спорта». 
								p Европейский подход к  Обучению, современные методики подготовки Юных спортсменов, увлекательный тренировочный Процесс, это лишь малая часть того,  что вы получите В нашей академии.
								p До встречи на наших тренировках!
								p Спортивный директор ШФМ «Академия Спорта» Клаудио Рифелли.
							+e.BUTTON.slide-btn.btn Записаться
				+e.slide
					+e.slide-inner
						+e.IMG.slide-img(src="img/news__img-1.png")
						+e.slide-info
							+e.slide-title Дорогие друзья! 
							+e.slide-text
								p Я с удовольствием приглашаю вас на занятия в Школу Футбольного Мастерства «Академия Спорта». 
								p Европейский подход к  Обучению, современные методики подготовки Юных спортсменов, увлекательный тренировочный Процесс, это лишь малая часть того,  что вы получите В нашей академии.
								p До встречи на наших тренировках!
								p Спортивный директор ШФМ «Академия Спорта» Клаудио Рифелли.
							+e.BUTTON.slide-btn.btn Записаться
				+e.slide
					+e.slide-inner
						+e.IMG.slide-img(src="img/news__img-1.png")
						+e.slide-info
							+e.slide-title Дорогие друзья! 
							+e.slide-text
								p Я с удовольствием приглашаю вас на занятия в Школу Футбольного Мастерства «Академия Спорта». 
								p Европейский подход к  Обучению, современные методики подготовки Юных спортсменов, увлекательный тренировочный Процесс, это лишь малая часть того,  что вы получите В нашей академии.
								p До встречи на наших тренировках!
								p Спортивный директор ШФМ «Академия Спорта» Клаудио Рифелли.
							+e.BUTTON.slide-btn.btn Записаться
				+e.slide
					+e.slide-inner
						+e.IMG.slide-img(src="img/news__img-1.png")
						+e.slide-info
							+e.slide-title Дорогие друзья! 
							+e.slide-text
								p Я с удовольствием приглашаю вас на занятия в Школу Футбольного Мастерства «Академия Спорта». 
								p Европейский подход к  Обучению, современные методики подготовки Юных спортсменов, увлекательный тренировочный Процесс, это лишь малая часть того,  что вы получите В нашей академии.
								p До встречи на наших тренировках!
								p Спортивный директор ШФМ «Академия Спорта» Клаудио Рифелли.
							+e.BUTTON.slide-btn.btn Записаться
