mixin publications()
	+b.SECTION.publications
		+e.wrap
			+headline('Сми о нас')
			+e.slider
				+e.IMG.slide(src="img/publications__img-1.png")
				+e.IMG.slide(src="img/publications__img-2.png")
				+e.IMG.slide(src="img/publications__img-3.png")
				+e.IMG.slide(src="img/publications__img-4.png")
				+e.IMG.slide(src="img/publications__img-2.png")
				+e.IMG.slide(src="img/publications__img-3.png")
				+e.IMG.slide(src="img/publications__img-4.png")