.publications {
	padding: 100px 0;
	background: url(../img/publications-bg.png) no-repeat center/cover;

	
	&__wrap {

	}

	&__slider {

	}

	&__slide {
		margin: 10px 16px 20px;
		border: 4px solid rgba(255, 255, 255, 0.6);
		box-shadow: 0 6px 15px rgba(0, 4, 7, 0.38);
	}
}

