
include ../../blocks/page-header/page-header.pug
include ../../blocks/btn/btn.pug
include ../../blocks/home-screen/home-screen.pug
include ../../blocks/news/news.pug
include ../../blocks/headline/headline.pug
include ../../blocks/clubs/clubs.pug
include ../../blocks/advantages/advantages.pug
include ../../blocks/album/album.pug
include ../../blocks/causes/causes.pug
include ../../blocks/publications/publications.pug