mixin album()
	+b.SECTION.album
		+e.wrap
			+headline('Убедитесь сами', 'Наша академия - дружная спортивная семья')
			+e.slider
				img(src="http://sunnyhostin.com/website/common/img/all/600x300.gif")