mixin album()
	+b.SECTION.album
		+e.wrap
			+headline('Убедитесь сами', 'Наша академия - дружная спортивная семья')
			+e.slider
				+e.IMG.slide(src="img/album__img-2.png")
				+e.IMG.slide(src="img/album__img-1.png")
				+e.IMG.slide(src="img/album__img-3.png")
				+e.IMG.slide(src="img/album__img-2.png")
				+e.IMG.slide(src="img/album__img-1.png")
				+e.IMG.slide(src="img/album__img-3.png")