mixin advantages()
	+b.SECTION.advantages
		+e.wrap
			+headline('Почему мы?', 'Преимущества')
			+e.list
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#coach")
					+e.card-title Великолепный <br> тренерский <br> состав
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#sports-1")
					+e.card-title Собственные площадки
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#people")
					+e.card-title Мастер-классы от <br>европейских специалистов
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#handshake")
					+e.card-title Партнерство с <br>европейскими клубами
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#camping")
					+e.card-title Спортивные   лагеря
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#hand")
					+e.card-title Возможность участия в <br>клубной и премьер-лиге <br> Первенства Москвы
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#trophy")
					+e.card-title Участие в <br> соревнованиях
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#food")
					+e.card-title Стажировка в итальянских <br>футбольных клубах
				+e.card
					+e.SVG.card-icon
						use(xlink:href="img/sprite.svg#plan")
					+e.card-title Индивидуальные <br> тренировки
			+e.BUTTON.btn.btn Попробовать бесплатно