//COLOR VARIABLES
@green: #00a75a;
@grey: #010202;

//FONTS VARIABLES
@font-main: 'Franklin-Gothic-Book', sans-serif;
@font-second: 'Courier-New', serif;

// MEDIA QUERY VARIABLES
@width-lg: ~"(max-width: 1200px)";
@width-md: ~"(max-width: 992px)";
@width-sm: ~"(max-width: 768px)";
@width-xs: ~"(max-width: 576px)";