include ../../assets/bemto/bemto.pug
include ../connect/_blocks.pug

doctype
html(lang="ru")
	include ../template/head.pug
	body
    
		block content
    	
		block scripts
			include ../template/scripts.pug