mixin clubs()
	+b.clubs
		+headline('Наши отделения', 'рядом с домом')
		+e.wrap
			+e.list
				+e.card
					+e.card-title Речной Вокзал
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб

				+e.card
					+e.card-title Марьина роща
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб

