mixin clubs()
	+b.clubs
		+headline('Наши отделения', 'рядом с домом')
		+e.wrap
			+e.list
				+e.card
					+e.card-title Речной Вокзал
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб
				+e.card
					+e.card-title Марьина роща
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб
				+e.card
					+e.card-title Кунцево
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб
				+e.card
					+e.card-title Маяковка
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб
				+e.card
					+e.card-title Юго-западный
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб
				+e.card
					+e.card-title Парк Победы
					+e.card-border
					+e.BUTTON.card-btn.btn В клуб

